body{
  background: #1D1A05;
  font-family: Arial, sans-serif;
  margin: 0px 0px;
}

/*MENU*/
.menu{
  background-color: #CA3C25;
  margin: 0px 0px;
}

.menu li{
  display: inline-block;
  list-style: none;
  padding: 20px 20px 20px 50px;
}

.menu a{
  color: whitesmoke;
  padding: 10px;
}

.menu a:hover{
  color: black;
  text-decoration: none;
}

/*CONTENT SECTION PANDA*/
section{
  height: 100%;
  padding: 10px 50px 10px 100px;
}

/*BUTTON IN SECTION PANDA*/
.sub-menu{
  display: block;
  margin: 0px 0px;
  padding-left: 0px;
  width: 100%;
}

.sub-menu li{
  display: inline-block;
  list-style: none;
  padding: 20px 0px;
}

.sub-menu button{
  background-color: #CA3C25;
  border: none;
  color: whitesmoke;
  padding: 10px;
  width: 330px;
}

.sub-menu button:hover{
  color: black;
  text-decoration: none;
}

/*FOTOS IN SECTION PANDA*/
figure{
  display: inline-block;
  padding: 10px;
  position: relative;
  -moz-margin-before: 0em;
  -ms-margin-before: 0em;
  -webkit-margin-before: 0em;
  -moz-margin-after: 0em;
  -webkit-margin-after: 0em;
  -ms-margin-after: 0em;
  -moz-margin-start: 0px;
  -ms-margin-start: 0px;
  -webkit-margin-start: 0px;
  -moz-margin-end: 0px
  -ms-margin-end: 0px;
  -webkit-margin-end: 0px;
}

span{
  color: whitesmoke;
  cursor: pointer;
  left: 20px;
  position: absolute;
  top: 20px;
  z-index: 1;
}

img{
  border: 5px solid #595959;
  height: 200px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  margin: 0px 0px;
  width: 200px;
}

/*CONTENT TEXT IN SECTION PANDA OF HISTORY AND EXTINTION*/
.section-content-panda{
  display: block;
}

.section-panda{
  display: inline-block;
  margin-right: 50px;
  text-align: justify;
  width: 40%;
}

p{
  color: #E7BD4C;
}
